.card-smal {
    background-color: var(--backgroundColorDarkBlue);
    color: var(--textWhite);
    height: 400px;
    width: 280px;
    border-radius: var(--borderRadius);
    cursor: pointer;
}

.card-header-smal {

}



.card-img-smal-section {
    display: flex;
    justify-content: center;
}

.card-img-smal {
    height: 150px;
    width: auto;
}


.card-footer-smal{

}