.card-smal {
    background-color: var(--backgroundColorDarkBlue);
    height: 400px;
    width: 280px;
    border-radius: var(--borderRadius);
}

.card-header-smal {

}


.card-img-smal {

}


.card-footer-smal{

}