button {
    background-color: var(--buttonGreen);
    color: var(--textWhite);
    width: var(--buttonWidth);
    height: var(--buttonHeight);
    border-radius: var(--cardRadius);
    border: none;
    cursor: pointer;
}


.load-button {
    margin: var(--marginLarge);
    width: auto;
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius:  var(--cardRadius);
    cursor: pointer;
    font-size: 16px;
}
    
.load-button:hover {
    background-color: #2980b9;
}


.red-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.red-button:disabled {
    background-color: green; /* Graue Farbe für deaktivierten Button */
    cursor: not-allowed;
}
