button {
    background-color: var(--buttonGreen);
    color: var(--textWhite);
    width: var(--buttonWidth);
    height: var(--buttonHeight);
    border: none;
    cursor: pointer;
}


input {
    background-color: var(backgroundColorGray);
    color: var(--textBlack);
    width: var(--buttonWidth);
    height: var(--buttonHeight);
    border: none;
    cursor: pointer;
    padding-block: 0;
    padding-inline: 0;
}


.load-button {
    margin: var(--marginLarge);
    width: auto;
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius:  var(--cardRadius);
    cursor: pointer;
    font-size: 16px;
}
    
.load-button:hover {
    background-color: #2980b9;
}


.red-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.red-button:disabled {
    background-color: green; /* Graue Farbe für deaktivierten Button */
    cursor: not-allowed;
}


.close-button {
    background: transparent;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.close-button:hover {
    color: #f00; /* Beispiel für Hover-Farbe */
}

.type-icon {
    background-color: var(--backgroundColorGray);
    border: none;
    border-radius:  var(--cardRadius);
}