footer {
    background-color: var(--backgroundColorOrange);
    height: var(--footerHeight);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.footer-content {
    display: flex;
    justify-content: center;
    height: var(--footerHeight);
    align-items: center;
}