header {
    background-color: var(--backgroundColorOrange);
    display: flex;
    justify-content: center;
    height: var(--headerHeight);
    width: 100vw;
    padding: var(--paddingMedium);

}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}


.search-Area{
    display: flex;
}

.header-logo {
    width: 100px;
    height: 50px;
}