header {
    background-color: var(--backgroundColorOrange);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--headerHeight);
    padding: var(--paddingMedium);
}


.search-Area{
    display: flex;
}

.header-logo {
    width: 100px;
    height: 50px;
}