.main-contend {
    flex: 1;
    padding: var(--paddingMedium);
    background-color: var(--backgroundColorGray);


}


.content-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--paddingMedium);

}


.button-container{
    display: flex;
    justify-content: center;
    background-color: var(--backgroundColorGray);
}


.content {
    min-height: 100vh;
}